:root {
  --colorBackground: #050004;
  --colorBackGroundTransparent: rgba(5, 0, 4, 0);
  --colorPrimary: #03fc20;
  --colorSecondary: #012316;
  --colorAccent: #e8a1e0;
  --colorText: #ffffff;

  --fontPrimary: "Bebas neue", sans-serif;
  --fonteSecondary: "Oswald";
}

.linkBuscar,
.linkBuscar > a {
  color: var(--colorText);
  text-decoration: none;
}

.linkBuscar > a > p {
  transition: 0.3s;
  color: var(--colorText);
}
.linkBuscar > a > p:hover {
  transition: 0.3s;
  color: var(--colorAccent);
  transform: scale(1.1, 1.1);
}

.bodyBuscar {
  background-color: var(--colorBackground);
  display: flex;
  flex-direction: column;
}

.filmesBuscados {
  margin: 5vh 0 5vh 5vh;
  width: 40%;
}
.filmesBuscados > ul > li > a {
  font-family: var(--fonteSecondary);
  font-size: 4vh;
}
.marcado {
  background-color: var(--colorAccent);
  padding: 1vh;
  color: var(--colorBackground);
}
main {
  border-right: 2px solid var(--colorAccent);
}

#sabao {
  position: absolute;
  top: 200px;
  left: 500px;
}
