/* FONTES IMPORTADAS, BAIXAR DPS */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata&family=Karla&family=Oswald&display=swap");

:root {
  --colorBackground: #050004;
  --colorBackGroundTransparent: rgba(5, 0, 4, 0);
  --colorPrimary: #03fc20;
  --colorSecondary: #012316;
  --colorAccent: #e8a1e0;
  --colorText: #ffffff;

  --fontPrimary: "Bebas neue", sans-serif;
  --fonteSecondary: "Oswald";
}

html::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--colorText);
  height: 10px;
  border-radius: 20px;
}

* {
  list-style: none;
  color: var(--colorText);
  font-family: var(--fontPrimary);
}

h1 {
  font-size: 6vh;
}

a {
  position: relative;
  color: var(--colorText);
  text-decoration: none;
  font-family: var(--fonteSecondary);
}

body {
  background-image: url("../images/bgClubeDoFilme.jpeg");
  background-repeat: no-repeat;
  background-color: var(--colorBackground);
  background-size: 30% 500px;
  height: 100vh;
  /* valor fixo trocar */
  background-position-x: 100px;
  background-position-y: 150px;

  overflow-x: hidden;
  overflow-y: scroll;
}

header {
  background-color: var(--colorBackground);
  padding: 0px 50px 0px 50px;
}

header > nav,
.linkRegistro > div,
header {
  z-index: 2;
}

mark {
  background-color: var(--colorAccent);
  color: var(--colorSecondary);
  padding: 0.5px 6px 0.5px 6px;
}

/* -- */

.botaoRegistro {
  background-color: var(--colorPrimary);
  color: var(--colorBackground);
}

.botaoLogin {
  border-color: var(--colorAccent);
  color: var(--colorAccent);
}

.inputBuscar {
  display: flex;
  align-items: center;

  transition: 0.3s;
  padding: 0px 0px 1px 10px;
  width: 30%;

  background-color: var(--colorBackGroundTransparent);
  border: 2px solid var(--colorText);
  outline: none;
  color: var(--colorAccent);
  font-family: var(--fonteSecondary);
}

.inputRegistro,
.inputRegistro > label {
  font-size: 3vh;
  font-family: var(--fonteSecondary);
}
.cabecalhoRegistro > a > img {
  width: 30px;
  height: 30px;
}
.cabecalhoRegistro {
  background-color: var(--colorBackground);
  font-size: 3vh;
}

.corpoRegistro {
  background-color: rgba(5, 0, 4, 0.97);
}

.cardFilmes {
  height: 50%;
  background-color: red;
}

.filmes {
  background-color: black;
  width: 30vh;
  height: 50vh;
}
.passaFilme {
  width: 50px;
  aspect-ratio: 1;

  background-color: transparent;
  color: var(--colorAccent);
  border: 1px solid var(--colorAccent);
}
::placeholder {
  font-family: var(--fonteSecondary);
}
