:root {
  --colorBackground: #050004;
  --colorBackgroundTransparent: rgba(5, 0, 4, 0);
  --colorPrimary: #03fc20;
  --colorSecondary: #012316;
  --colorAccent: #e8a1e0;
  --colorText: #ffffff;
}

a::before {
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;

  content: "";

  background-color: var(--colorAccent);
  bottom: 0;
  left: 0;

  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.camadaTransparente {
  position: absolute;
  height: 75%;

  background-image: linear-gradient(
    to bottom,
    var(--colorBackground),
    var(--colorBackgroundTransparent)
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;

  z-index: -1;
}

#desfoque {
  position: absolute;
  backdrop-filter: blur(10px);
  z-index: -2;
}

#cursor {
  position: absolute;
  height: 300px;
  aspect-ratio: 1.3;
  background: linear-gradient(to left, var(--colorPrimary), var(--colorAccent));

  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;

  animation: rotacionar 50s infinite;
  filter: blur(200px);
}

.inputBuscar:focus {
  transition: 0.3s;
  border: 2px solid var(--colorAccent);
  width: 35%;
}

.botaoLogin:hover {
  transition: 0.3s;
  background-color: var(--colorAccent);
  color: var(--colorBackground);
}

.botaoRegistro:hover {
  transition: 0.3s;
  background-color: var(--colorSecondary);
  color: var(--colorText);
}

.filmes{
  cursor: pointer;
  transition: 0.5s;
  filter: grayscale(100%);
}

.filmes:hover{
  transition: 0.5s;
  filter: grayscale(0%);
}

#telaRegistro {
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;

  right: 20%;
  top: 50%;

  animation: cardLogin 0.5s forwards;
  z-index: 3;

  content-visibility: hidden;
}

#telaLogin {
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;

  right: 20%;
  top: 50%;

  animation: cardLogin 0.5s forwards;
  z-index: 3;

  content-visibility: hidden;
}

#navbar {
  position: fixed;
  left: 40%;
  z-index: 5;

  background-color: transparent;
  border: 3px solid var(--colorSecondary);

  width: 20%;
  height: 40px;
  visibility: hidden;
}
#navbar > a > img {
  height: 30px;
}

@keyframes cardLogin {
  from {
    width: 20%;
    height: 5px;
    right: 12%;
    content-visibility: hidden;
  }

  to {
    width: 35%;
    height: 400px;
    right: 8%;
    top: 30%;
    content-visibility: visible;
  }
}

@keyframes rotacionar {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

@keyframes navbarAparecer {
  from {
    top: 100vh;
    visibility: visible;
  }
  to {
    top: 92vh;
    visibility: visible;
  }
}

@keyframes navbarFechar {
  from {
    top: 92vh;
    visibility: visible;
  }
  to {
    top: 100vh;
    visibility: visible;
  }
}